/*html*/

html {
  font-size: 18px;
  font-family: Helvetica;
}

/*container*/

 .container {
   width: 960px;
   margin: 0 auto;
   display: flex;
 }

/*header*/

#header {
  width: 100%;
  background-color: black;
  display: flex;
  padding-left: 140px;
}

.title {
  display: inline-flex;
  align-items: center;
  margin: 0.66rem 0;
}

.title span {
  font-size: 1rem;
  color: white;
}

.title img {
  height:1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

/*banner*/

.banner {
  background-image: url("/Users/Sally/Documents/Code Academy Projects/SecretAgentSupply/resources/images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  width: 100%;
  position: relative;
}

.new {
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  margin-top: 9rem;
}

.new p {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding-bottom: 0.25rem;

}

.new h2 {
  font-weight: bold;
  font-size: 2rem;
  color: white;
  line-height: 2.25rem;
}

/*menu*/

.menu {
  width: 100%;
  background-color: firebrick;
  position: relative;
  display: flex;
  justify-content: center;
}
nav .container {
  display: inline-flex;
  justify-content: space-between;
}

.menu span {
  color: white;
  padding: 0.75rem 0.75rem;
}

/*shop*/

.container .shop {
  width: 960px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 3rem;
  margin: 0 auto;
  align-items: center;
}

.gadgets {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.items {
  border: 4px solid black;
  text-align: center;
  width: 30%;
}

.items img {
  max-height: 9rem;
  width: auto;
  padding: 2rem 2rem;
  display: inline-flex;
  justify-content: center;
}

.glassesimg {
  height: 13.2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.glassesimg img {
  max-width: 9rem;
}

.items p {
  background-color: black;
  color: white;
  padding: 0.5rem 0.5rem;
  text-align: center;
  margin: 0 auto;
}

/*contact*/

.container .contact {
  width: 960px;
  margin: 3rem auto 4rem auto;
  display: flex;
}

.contact {
  position: relative;
  top: 3rem;
  display: inline-flex;
  justify-content: space-between;
  width: 35%;

}

h5 {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  text-align: left;
}

.contact p {
  line-height: 2rem;
}

/*footer*/

.footer {
  position: relative;
  top: 4rem;
  background-color: black;
  height: 5rem;
  display: flex;
}

.copyright {
  display: inline-flex;
  align-items: center;
  color: white;
  text-align: left;
}

/*media queries*/
